<div class="row">
    <div class="signup-container">
        <div class="heading-box">
            <h2>Signup</h2>
            <p>We do not share your personal detail with anyone.</p>
        </div>
        <form class="form-box" [formGroup]="signUpForm" (ngSubmit)="signup()">

            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput name="firstName" placeholder="Enter first name" formControlName="firstName"
                    aria-label="firstName" aria-required="true" aria-invalid="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput name="lastName" placeholder="Enter last name" formControlName="lastName"
                    aria-label="lastName" aria-required="true" aria-invalid="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput name="email" placeholder="Enter email" formControlName="email" aria-label="email"
                    aria-required="true" aria-invalid="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="password">Password</mat-label>
                <input type="password" matInput name="password" placeholder="Enter password" formControlName="password"
                    aria-label="password" aria-required="true" aria-invalid="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input type="password" matInput name="confirmPassword" placeholder="Confirm password" formControlName="cnfPassword"
                    aria-label="confirmPassword" aria-required="true" aria-invalid="true">
            </mat-form-field>
            <button mat-raised-button [disabled]="!signUpForm.valid" color="accent">Sign Up</button>
        </form>
    </div>
</div>