<div class="main-box">
    <div *ngFor="let product of products" class="product-card">
        <div class="product-card--title">
            <h4>{{product.name}}</h4>
        </div>
        <div class="small">
            <img [src]="product.imageURL" [alt]="product.name">
            <div class="description">
                <p>{{product.description}}</p>
            </div>
        </div>
        <div class="action">
            <span class="product-card--price">MRP Rs. {{product.price}}</span>
            <button *ngIf="!cartMap.get(product.id)" (click)="addToCart(product)" class="btn btn--pink">Buy Now</button>
            <div *ngIf="cartMap.get(product.id)" class="count">
                <mat-icon (click)="remove(product.id)">remove</mat-icon>
                <div class="qty">{{cartMap.get(product.id)}}</div>
                <mat-icon (click)="add(product.id)">add</mat-icon>

            </div>
        </div>
        <div class="m-action">
            <button *ngIf="!cartMap.get(product.id)" (click)="addToCart(product)" class="btn btn--pink">Buy Now @ MRP
                Rs. {{product.price}}</button>
            <ng-container *ngIf="cartMap.get(product.id)">
                <span class="product-card--price">MRP Rs. {{product.price}}</span>
                <div class="count">
                    <mat-icon (click)="remove(product.id)">remove</mat-icon>
                    <div class="qty">{{cartMap.get(product.id)}}</div>
                    <mat-icon (click)="add(product.id)">add</mat-icon>

                </div>
            </ng-container>

        </div>
        <div class="vertical"></div>
    </div>

    <div *ngFor="let product of products" class="mobile-list">
        <div class="product-card--title">
            <h4>{{product.name}}</h4>
        </div>
        <div class="mob-container">
            <img [src]="product.imageURL" [alt]="product.name">
            <div class="desc">
                <p class="description">{{product.description}}</p>
                <button *ngIf="!cartMap.get(product.id)" (click)="addToCart(product)" class="btn btn--pink tab">Buy Now
                    @ MRP Rs.
                    {{product.price}}</button>
                <div *ngIf="cartMap.get(product.id)">
                    <span class="product-card--price">MRP Rs. {{product.price}}</span>
                    <div class="count">
                        <mat-icon (click)="remove(product.id)">remove</mat-icon>
                        <div class="qty">{{cartMap.get(product.id)}}</div>
                        <mat-icon (click)="add(product.id)">add</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>