<div class="row">
    <div class="login-container">
        <div class="heading-box">
            <h2>Login</h2>
            <p>Get access to your Orders, wishlist and recommendations.</p>
        </div>
        <form class="form-box" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <div class="form-field">
                <input aria-label="email" formControlName="email" name="email" class="form-input" type="email" placeholder=" " aria-required="true" aria-invalid="true">
                <span class="highlight"></span>
                <label>Email</label>
            </div>

            <div class="form-field">
                <input id="password" formControlName="password" name="password" class="form-input" type="password" placeholder=" " aria-required="true" aria-invalid="true">
                <span class="highlight"></span>
                <label for="password">Password</label>

            </div>

            <button [disabled]="!loginForm.valid" class="btn btn--pink" type="submit">Login</button>
        </form>
    </div>
</div>