<div class="row">
    <div class="login-container">
        <div class="heading-box">
            <h2>Login</h2>
            <p>Get access to your Orders, wishlist and recommendations.</p>
        </div>
        <form class="form-box" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput name="email" placeholder="Enter email" formControlName="email" 
                    aria-label="email"
                    aria-required="true"
                    aria-invalid="true">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput name="password" placeholder="Enter password" formControlName="password"
                    aria-label="password"
                    aria-required="true">
            </mat-form-field>
            <button mat-raised-button [disabled]="!loginForm.valid" color="accent">Login</button>
        </form>
    </div>
</div>