<div class="row">
    <div class="login-container">
        <div class="heading-box">
            <h2>Login</h2>
            <p>Get access to your Orders, wishlist and recommendations.</p>
        </div>
        <form class="form-box" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <div class="form-field">
                <input formControlName="email" class="form-input" type="email" placeholder=" ">
                <span class="highlight"></span>
                <label>Email</label>
            </div>

            <div class="form-field">
                <input formControlName="password" class="form-input" type="password" placeholder=" ">
                <span class="highlight"></span>
                <label>Password</label>
            </div>

            <input [disabled]="!loginForm.valid" class="btn btn--pink" type="submit" value="Login">
        </form>
    </div>
</div>