<div class="row">
    <div class="login-container">
        <div class="heading-box">
            <h2>Login</h2>
            <p>Get access to your Orders, wishlist and recommendations.</p>
        </div>
        <form class="form-box">
            <div class="form-field">      
                <input class="form-input" type="email" placeholder=" ">
                <span class="highlight"></span>
                <label>Email</label>
            </div>

            <div class="form-field">      
                <input class="form-input" type="password" placeholder=" ">
                <span class="highlight"></span>
                <label>Password</label>
            </div>

            <input class="btn btn--pink" type="button" value="Login">
        </form>
    </div>
</div>