.login-container {
  padding: 50px;
  display: flex;
  flex-direction: row;
  .heading-box {
    padding: 30px;
  }
  .form-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    .form-field {
      position: relative;
      margin-bottom: 30px;
    }

    .form-input {
      font-size: 75%;
      padding: 4px 4px;
      display: block;
      width: 100%;
      height: 30px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid $bg-color-gray;
    }

    .form-input:focus {
      outline: none;
      border-bottom: 2px solid $bg-color-lightblue;
    }

    label {
      color: $color-txt-gray;
      font-size: 75%;
      position: absolute;
      pointer-events: none;
      top: 5px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    .form-input:focus ~ label,
    .form-input:not(:placeholder-shown) ~ label {
      top: -18px;
      font-size: 70%;
      color: $bg-color-lightblue;
    }

    .highlight {
      position: absolute;
      height: 50%;
      width: 100%;
      top: 15%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
