<div class="row">
    <div class="slide-show">
        <carousel [images]="images" [objectFit]="carouselConfig.objectFit" [cellWidth]="carouselConfig.cellWidth"
            [arrowsOutside]="carouselConfig.arrowsOutside" [autoplay]="carouselConfig.autoplay"
            [dots]="carouselConfig.dots" [arrowsTheme]="carouselConfig.arrowsTheme" [loop]="carouselConfig.loop">
        </carousel>
    </div>
    <ng-container *ngFor="let cat of categories; let odd = odd">
        <div *ngIf="cat.enabled" class="p-cat-home" [ngStyle]="{'flex-direction':odd ? 'row-reverse':'row'}">
            <div class="img-cont" [ngStyle]="{'justify-content':odd ? 'flex-end':'flex-start'}">
                <img [src]="cat.imageUrl" alt="">
            </div>
            <div class="cat-details">
                <h1>{{cat.name}}</h1>
                <p>{{cat.description}}</p>
                <a [routerLink]="['/products', cat.id]" class="btn btn--pink">Explore {{cat.key}}</a>
            </div>
        </div>
    </ng-container>

</div>