<div class="row">
    <div class="login-container">
        <div class="heading-box">
            <h2>Signup</h2>
            <p>We do not share your personal detail with anyone.</p>
        </div>
        <form class="form-box">
            <div class="form-field">      
                <input class="form-input" type="text" placeholder=" ">
                <span class="highlight"></span>
                <label>First Name</label>
            </div>
            <div class="form-field">      
                <input class="form-input" type="text" placeholder=" ">
                <span class="highlight"></span>
                <label>Last Name</label>
            </div>
            <div class="form-field">      
                <input class="form-input" type="email" placeholder=" ">
                <span class="highlight"></span>
                <label>Email</label>
            </div>

            <div class="form-field">      
                <input class="form-input" type="password" placeholder=" ">
                <span class="highlight"></span>
                <label>Password</label>
            </div>

            <div class="form-field">      
                <input class="form-input" type="password" placeholder=" ">
                <span class="highlight"></span>
                <label>Confirm Password</label>
            </div>

            <input class="btn btn--pink" type="button" value="Signup">
        </form>
    </div>
</div>